.pagination {
  float: none !important;
  text-align: center !important;
  margin: 25px;
  margin-bottom: 40px;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.pagination a.active {
  background-color: #3f51b5;
  color: white;
  border-radius: 5px;
}
