#landing-page {
    body,
    html {
        height: 100%;
    }
    #landing-page-logo {
        margin: auto;
        display: block;
        width: 350px;
    }
    h1 {
        margin-top: 0px;
    }
    h2 {
        text-align: right;
        width: 100%;
        color: #f2a409;
    }
}