$color_1: #fff;
$color_2: #3f51b5;

/*#about-page h2{
    color: #f2a409;
}
*/
#about-page {
	#about-us-submenu {
		border-right: 2px solid #000000;
	}
	.demo-list-item {
		.mdl-list__item-primary-content {
			font-size: 24px;
		}
	}
	.demo-card-square {
		display: inline-block;
		margin: 15px;
		>.mdl-card__title {
			color: $color_1;
			height: 250px;
		}
		.mdl-card__supporting-text {
			h3 {
				height: 70px;
			}
		}
	}
	.team-members-list {
		.demo-card-square.mdl-card {
			width: 40%;
			height: 500px;
		}
		.team-member-title {
			margin: 15px;
		}
	}
	.mdl-card__supporting-text {
		h2 {
			height: 60px;
		}
	}
	#bojo-card {
		background: url('/images/team-members/bojo.jpg');
		background-size: cover;
	}
	#didi-card {
		background: url('/images/team-members/didi.jpg');
		background-size: cover;
	}
	.mdl-dialog {
		width: 700px;
	}
	.mdl-list__item-primary-content {
		&:hover {
			color: $color_2;
		}
	}
}
@media screen and (min-width: 768px) {
	#about-page {
		#about-us-submenu {
			border-right: none;
		}
	}
}
@media screen and (max-width: 700px) {
	#about-page {
		.team-members-list {
			.demo-card-square.mdl-card {
				width: 90%;
			}
		}
	}
}
