#website-development-tab {
    .templates-header:hover {
        background: lightblue;
    }

    .row {
        margin-bottom: 5px;
    }

    >div {
        width: 100%;
    }

    @media only screen and (max-width: 600px) {
        img {
            display: none;
        }
    }

    @media only screen and (min-width: 600px) {
        >div {
            display: inline-block;
            width: 50%;
        }
    }
}