$color_1: #fff;
$color_2: #f2a409;
$color_3: .6b6a66;
$color_4: inherit;
$color_5: #fff;

.book-profile-card {
	.demo-card-wide {
		>.mdl-card__title {
			color: $color_1;
			background: url() center / cover;
		}
		>.mdl-card__menu {
			color: $color_5;
		}
	}
	.book-name-profile {
		color: $color_2;
		font-size: 28px;
	}
	.author-name-profile {
		color: $color_3;
		font-size: 22px;
		padding: 5px;
		float: left;
		width: 50%;
	}
	.mdl-card__supporting-text {
		.author-name-profile {
			i {
				display: inline-block;
				margin-right: 10px;
			}
			.author-profile {
				font-size: 22px;
				padding: 5px;
				align-self: flex-end;
				color: $color_4;
				display: flex;
				font-weight: 300;
				line-height: normal;
				overflow: hidden;
				transform-origin: 149px 48px;
				margin: 0;
			}
		}
		.book-genre-profile {
			.genre-profile {
				font-size: 22px;
				padding: 5px;
				align-self: flex-end;
				color: $color_4;
				display: flex;
				font-weight: 300;
				line-height: normal;
				overflow: hidden;
				transform-origin: 149px 48px;
				margin: 0;
			}
		}
	}
	.book-genre-profile {
		i {
			display: inline-block;
			margin-right: 10px;
		}
	}
	.book-description-profile {
		font-size: 17px;
		padding: 5px;
	}
}
