.book-profile-card .demo-card-wide > .mdl-card__title {
  color: #fff;
  background: url() center/cover;
}

.book-profile-card .demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.book-profile-card .book-name-profile {
  color: #f2a409;
  font-size: 28px;
}

.book-profile-card .author-name-profile {
  color: 0.6b6a66;
  font-size: 22px;
  padding: 5px;
  float: left;
  width: 50%;
}

.book-profile-card .mdl-card__supporting-text .author-name-profile i {
  display: inline-block;
  margin-right: 10px;
}

.book-profile-card
  .mdl-card__supporting-text
  .author-name-profile
  .author-profile {
  font-size: 22px;
  padding: 5px;
  align-self: flex-end;
  color: inherit;
  display: flex;
  font-weight: 300;
  line-height: normal;
  overflow: hidden;
  transform-origin: 149px 48px;
  margin: 0;
}

.book-profile-card
  .mdl-card__supporting-text
  .book-genre-profile
  .genre-profile {
  font-size: 22px;
  padding: 5px;
  align-self: flex-end;
  color: inherit;
  display: flex;
  font-weight: 300;
  line-height: normal;
  overflow: hidden;
  transform-origin: 149px 48px;
  margin: 0;
}

.book-profile-card .book-genre-profile i {
  display: inline-block;
  margin-right: 10px;
}

.book-profile-card .book-description-profile {
  font-size: 17px;
  padding: 5px;
}
