#landing-page {
    #landing-page-logo {
        margin: auto;
        display: block;
        width: 350px;
    }
    h1 {
        text-align: center;
        margin-top: 0px;
    }
    .center {
        text-align: center;
    }
    h2 {
        text-align: center;
        width: 85%;
        margin: auto;
        margin-bottom: 15px;
    }
    .website-title-appear {
        opacity: 0.01;
    }
    .website-title-appear.website-title-appear-active {
        opacity: 1;
        transition: opacity .9s ease-in-out;
    }
}