$color_1: #f2a409;
$color_2: #6b6a66;
$color_3: inherit;
$color_4: #fff;

.book-landing-page-card {
    margin-bottom: 30px;
    .book-name-landing-page {
        color: $color_1;
        font-size: 28px;
    }
    .author-name-landing-page {
        color: $color_2;
        font-size: 22px;
        padding: 5px;
        float: left;
        width: 50%;
    }
    .author-landing-page {
        font-size: 22px;
        align-self: flex-end;
        color: $color_3;
        display: flex;
        font-weight: 300;
        line-height: normal;
        overflow: hidden;
        transform-origin: 149px 48px;
    }
    .genre-landing-page {
        font-size: 22px;
        padding-top: 15px;
        padding-left: 15px;
        align-self: flex-end;
        color: $color_3;
        display: flex;
        font-weight: 300;
        line-height: normal;
        overflow: hidden;
        transform-origin: 149px 48px;
    }
    .material-icons {
        margin-right: 5px;
    }
    .book-description-landing-page {
        font-size: 17px;
        padding: 15px;
        letter-spacing: 0.2px;
    }
    .mdl-card__supporting-text {
        .author-name-landing-page {
            i {
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
    .book-genre-profile {
        i {
            display: inline-block;
            margin-right: 10px;
        }
    }
    .demo-card-wide {
        >.mdl-card__menu {
            color: $color_4;
        }
    }
    .book-landing-page-card.demo-card-wide {
        >.mdl-card__title {
            color: $color_4;
            background: url() center/cover;
        }
    }
    .username-landing-page {
        font-size: 22px;
        padding-top: 15px;
        padding-left: 15px;
        margin-right: 5px;
        display: flex;
        font-weight: 300;
        line-height: normal;
        overflow: hidden;
        transform-origin: 149px 48px;
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}