#request-confirmation {
    >div {
        width: 50%;
        display: inline-block;
        height: inherit;
    }
    h2{
        font-size: 30px;
    }
    div{
        h3{
            font-size: 18px;
        }
    }
}