@media only screen and (min-width: 1024px) {
  #mobile-navigation {
    display: none;
  }
  .mdl-layout__drawer-button {
    display: none;
  }
}

#mobile-navigation .mdl-layout__drawer-button {
  position: relative;
}

#mobile-navigation .mdl-layout__drawer .mdl-layout-title {
  font-size: 150%;
  line-height: 40px;
}

#mobile-navigation .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #8ec5ee;
}
#mobile-navigation
  .mdl-layout__drawer
  .mdl-navigation
  .mdl-navigation__link:hover {
  color: #40596b;
}
