#faq-page h1 {
  text-align: center;
}

#faq-page .mdl-list__item--three-line {
  display: inline-block;
  height: 100%;
}
#faq-page .mdl-list__item--three-line h2 {
  display: inline;
  font-size: 35px;
}
#faq-page .mdl-list__item--three-line .mdl-list__item-primary-content {
  height: 100%;
}
#faq-page .mdl-list__item--three-line .mdl-list__item-text-body {
  display: block;
  box-sizing: border-box;
  margin-top: 15px;
  font-size: 15px;
  letter-spacing: 0.8px;
  font-weight: 400;
  line-height: 18px;
}

#faq-page .mdl-list__item .material-icons {
  margin-right: 10px;
}
