@import "@material/button/mdc-button";

#not-found-page {
  h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
  }
}

#not-found-page {
  @media only screen and (max-width: 900px) {
    img {
      width: auto !important;
    }
  }
}